<%-include('layout/header.ejs')%>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <main>
                <h1>logout page</h1>
              </main>
        </div>
        <div class="col-4"></div>
    </div>
</div>
 
  <%-include('layout/footer.ejs')%>