
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <footer>
                <p class="text-center">Design And Developed By <a href="/">Ali Asgor</a></p>
            </footer>
        </div>
        <div class="col-4"></div>
    </div>
</div>
